@charset "UTF-8";
body {
  background-color: #fff1cc;
  font-family: "Oswald", sans-serif;
  color: #875626;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 7vh;
  width: 100%;
  color: rgb(28, 28, 28);
  transition: ease-in-out 0.2s;
  padding: 1vh 10vh;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__logo img {
  height: 100%;
}
.header__title {
  font-size: 24px;
}
.header__navbar {
  font-size: 18px;
  gap: 30px;
  display: flex;
  align-items: center;
}
.header__navbar :first-child {
  font-weight: 700;
}
.header__navbar .arrow-down {
  height: 10px;
}
.header__link .link__title {
  display: flex;
  align-items: baseline;
}

.center {
  text-align: center;
}
.center h2 {
  font-weight: 700;
}
.center ul li {
  margin-bottom: 20px;
}
.center ul li :last-child {
  margin: 0;
}

#form-link {
  background-color: #875626;
  display: block;
  width: 80%;
  color: white;
  padding: 10px 0;
  text-align: center;
  align-self: center;
  margin-bottom: 5vh;
}

.wrapper {
  width: 100%;
  margin-top: 7vh;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 77.7%;
  margin: 0 auto;
}

.main-greetings {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  align-items: center;
}
.main-greetings__stars {
  max-height: 105px;
}
.main-greetings__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48pt;
  text-align: center;
}

.links-section {
  padding: 0 200px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.links-section__item {
  display: flex;
  flex-direction: column;
  flex: 0 0 20vh;
}
.links-section__item img {
  margin: 0 auto;
  width: 100%;
}
.links-section__item h3 {
  text-align: center;
  font-size: 16px;
}

.main-info {
  margin-top: 7vh;
  display: flex;
  gap: 5vh;
}
.main-info__images {
  flex: 0 0 45%;
}
.main-info__images img {
  width: 100%;
}
.main-info__body {
  font-size: 12pt;
}
.main-info__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 34pt;
  margin: 0;
}
.main-info__squad {
  width: 100%;
}
.main-info__container {
  display: flex;
  flex-direction: column;
}
.main-info__subtitle {
  font-size: 21px;
}
.main-info__para {
  font-size: 16px;
}
.main-info__row {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  gap: 2vw;
  margin-bottom: 10vh;
}
.main-info__column {
  display: flex;
  flex: 1 1;
  text-align: center;
  flex-direction: column;
}
.main-info__column img {
  width: 100%;
}

.requirements {
  list-style-type: disc;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 7vh 0 3vh 0;
  height: 7vh;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer__logo img {
  height: 100%;
}
.footer__mail {
  color: #d19f72;
}

.redColored {
  background-color: black;
  color: white;
}
.redColored .arrow-down {
  filter: invert(100%) sepia(0%) saturate(4653%) hue-rotate(301deg) brightness(104%) contrast(101%);
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -110%;
  width: 300%;
  overflow: auto;
  background-color: black;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  flex-direction: column;
  gap: 20px;
  transition: ease-in-out 0.5s;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

.dropdown-content a:hover {
  color: gray;
}