body {
    background-color: #fff1cc;
    font-family: "Oswald", sans-serif;
    color: #875626;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;

    height: 7vh;
    width: 100%;

    color: rgb(28, 28, 28);
    transition: ease-in-out 0.1s;

    padding: 1vh 10vh;
    justify-content: space-between;
    &__logo {
        display: flex;
        align-items: center;
        gap: 30px;
        img {
            height: 100%;
        }
    }
    &__title {
        font-size: 24px;
    }
    &__navbar {
        font-size: 18px;
        gap: 30px;
        display: flex;
        align-items: center;

        :first-child {
            font-weight: 700;
        }
        img {
            height: 20px;
        }
    }
}

.wrapper {
    width: 100%;
    margin-top: 7vh;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 77.7%;
    margin: 0 auto;
}

.main-greetings {
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    align-items: center;
    &__stars {
        max-height: 105px;
    }
    &__title {
        font-family: "Playfair Display", serif;
        font-weight: 700;
        font-size: 48pt;
        text-align: center;
    }
}

.links-section {
    padding: 0 200px;
    display: flex;
    justify-content: center;
    gap: 30px;
    &__item {
        flex: 0 0 25%;
        img {
            width: 100%;
            height: 13vw;
        }
        h3 {
            text-align: center;
            font-size: 16px;
        }
    }
}

.main-info {
    margin-top: 7vh;
    display: flex;
    gap: 5vh;
    &__images {
        flex: 0 0 45%;
        img {
            width: 100%;
        }
    }
    &__body {
        font-size: 12pt;
    }
    &__title {
        font-family: "Playfair Display", serif;
        font-weight: 700;
        font-size: 34pt;
        margin: 0;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    height: 7vh;
    &__logo {
        display: flex;
        align-items: center;
        gap: 30px;
        img {
            height: 100%;
        }
    }
}

.redColored {
    background-color: black;
    color: white;
}
